.services__title {
  display: flex;
  gap: 40px;
  margin: 100px 0;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 40px;
  justify-content: center;
}
