.cta {
  margin-top: 200px;
  background-color: var(--grey);
  border-radius: 45px;
  padding: 50px;
  display: flex;
  max-height: 347px;
  justify-content: space-between;
}

.cta__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 50%;
}
.cta__illustration {
  display: flex;
  align-items: center;
}

.cta__illustration img {
  max-width: 394px;
}
.cta__button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 20px 35px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}
